<mat-toolbar color="primary">
  <button [routerLink]="'/'" style="margin-right: 2%" class="example-icon favorite-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </button>
  <span>Exam-Portal</span>
  <span class="example-spacer"></span>
  <a [routerLink]="'/login'" style="margin-right: 4%" mat-raised-button color="accent" aria-label="Example icon-button with heart icon">
    Login</a>
  <a  [routerLink]="'/signup'" style="margin-right: 2%" mat-raised-button color="accent" aria-label="Example icon-button with heart icon">
    Register</a>
</mat-toolbar>

